<!---------------------------------------- start main content --------------------------------->
<main>
    <!--------------------------------------start routing compounant -------------------------->
    <div class="container text-muted text-Quicksand pb-5">
        <div class="row  align-items-center py-4">
            Home > programes
        </div>
    </div>
    <!--------------------------------------- end routing compounant -------------------------->
    <!--------------------------------------- start classes compounant ------------------------>
    <section class="programs ">
        <div class="container">
            <nav>
                <div class="nav nav-tabs bg-main rounded-4 text-Quicksand fs-4 fw-lighter pb-2 px-lg-5 fw-bold d-flex justify-content-evenly " id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-All-tab" data-bs-toggle="tab" data-bs-target="#nav-All" type="button" role="tab" aria-controls="nav-All" aria-selected="true">All</button>
                    <button class="nav-link" id="nav-Toddler-tab" data-bs-toggle="tab" data-bs-target="#nav-Toddler" type="button" role="tab" aria-controls="nav-Toddler" aria-selected="false">Toddler</button>
                    <button class="nav-link" id="nav-Preschool-tab" data-bs-toggle="tab" data-bs-target="#nav-Preschool" type="button" role="tab" aria-controls="nav-Preschool" aria-selected="false">Preschool</button>
                    <button class="nav-link" id="nav-Kindergarten-tab" data-bs-toggle="tab" data-bs-target="#nav-Kindergarten" type="button" role="tab" aria-controls="nav-Kindergarten" aria-selected="false">Kindergarten</button>
                    <button class="nav-link" id="nav-PreKProgram-tab" data-bs-toggle="tab" data-bs-target="#nav-PreKProgram" type="button" role="tab" aria-controls="nav-PreKProgram" aria-selected="false">Pre-K Program</button>
                    <button class="nav-link" id="nav-BAScool-tab" data-bs-toggle="tab" data-bs-target="#nav-BAScool" type="button" role="tab" aria-controls="nav-BAScool" aria-selected="false">Befor/After School</button>
                    
                </div>
            </nav>
            <div class="tab-content py-4" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-All" role="tabpanel" aria-labelledby="nav-All-tab" tabindex="0">
                    <div class="row ">
                        <div class="col-lg-4 col-md-6 py-4 px-lg-4 ">
                            <div class="card rounded-4  text-Quicksand shadow border-0">
                                <img src="../../assets/images/classes1-350x190.jpg" class="card-img-top rounded-top-4" alt="Boy play with toy">
                                <div class="card-body px-4 pt-3 pb-0">
                                <h5 class="card-title  fs-4">
                                    <a href="" class="link-primary link-opacity-75-hover text-decoration-none">Color Matching Class</a>
                                </h5>
                                <p class="card-text border-bottom pb-3">The perfect class for your child with the best staff and best
                                    teachers.</p>
                                </div>
                                <div
                                class="class-details rounded-bottom-4  overflow-hidden py-2 px-4 d-flex justify-content-between position-relative align-items-center">
                                <div class=" text-center ">Age <br /> <span class="color-main">1-2 years</span></div>
                                <div class=" text-center ">Size <br /> <span class="color-main">9 seats</span></div>
                                <div class=" text-center ">Price <br /> <span class="color-main">$25/hour</span></div>
                                <div class="hover ">
                                    <a href="#">Learn More</a>
                                </div>
                                </div>
                
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 py-4 px-lg-4">
                        <div class="card rounded-4 text-Quicksand shadow border-0">
                            <img src="../../assets/images/classes2-350x190.jpg" class="card-img-top rounded-top-4" alt="Boy play with toy">
                            <div class="card-body px-4 pt-3 pb-0">
                            <h5 class="card-title  fs-4">
                                <a href="" class="link-primary link-opacity-75-hover text-decoration-none">Alphabet Matching Class</a>
                            </h5>
                            <p class="card-text border-bottom pb-3">
                                We provided 4 classes with 9 to 12 children earch aged 12 months to 5 .
                            </p>
                            </div>
                            <div
                            class="class-details rounded-bottom-4  overflow-hidden py-2 px-4 d-flex justify-content-between position-relative align-items-center">
                            <div class=" text-center ">Age <br /> <span class="color-main">2-3 years</span></div>
                            <div class=" text-center ">Size <br /> <span class="color-main">11 seats</span></div>
                            <div class=" text-center ">Price <br /> <span class="color-main">$25/hour</span></div>
                            <div class="hover ">
                                <a href="#">Learn More</a>
                            </div>
                            </div>
            
                        </div>
                        </div>
                        <div class="col-lg-4 col-md-6 py-4 px-lg-4">
                        <div class="card rounded-4 text-Quicksand shadow border-0">
                            <img src="../../assets/images/classes3-350x190.jpg" class="card-img-top rounded-top-4" alt="Boy play with toy">
                            <div class="card-body px-4 pt-3 pb-0">
                            <h5 class="card-title  fs-4">
                                <a href="" class="link-primary link-opacity-75-hover text-decoration-none">Spanish Language Class</a>
                            </h5>
                            <p class="card-text border-bottom pb-3">
                                The students learn different skills like rhythm, flexibility, and coordination.
                            </p>
                            </div>
                            <div
                            class="class-details rounded-bottom-4  overflow-hidden py-2 px-4 d-flex justify-content-between position-relative align-items-center">
                            <div class=" text-center ">Age <br /> <span class="color-main">4-5 years</span></div>
                            <div class=" text-center ">Size <br /> <span class="color-main">14 seats</span></div>
                            <div class=" text-center ">Price <br /> <span class="color-main">$25/hour</span></div>
                            <div class="hover ">
                                <a href="#">Learn More</a>
                            </div>
                            </div>
            
                        </div>
                        </div>
                        <div class="col-lg-4 col-md-6 py-4 px-lg-4">
                        <div class="card rounded-4 text-Quicksand shadow border-0">
                            <img src="../../assets/images/classes4-350x190.jpg" class="card-img-top rounded-top-4" alt="Boy play with toy">
                            <div class="card-body px-4 pt-3 pb-0">
                            <h5 class="card-title  fs-4">
                                <a href="" class="link-primary link-opacity-75-hover text-decoration-none">Letter Match Class</a>
                            </h5>
                            <p class="card-text border-bottom pb-3">
                                Our preschool program has four dedicated classes.
                            </p>
                            </div>
                            <div
                            class="class-details rounded-bottom-4  overflow-hidden py-2 px-4 d-flex justify-content-between position-relative align-items-center">
                            <div class=" text-center ">Age <br /> <span class="color-main">4-5 years</span></div>
                            <div class=" text-center ">Size <br /> <span class="color-main">15 seats</span></div>
                            <div class=" text-center ">Price <br /> <span class="color-main">$25/hour</span></div>
                            <div class="hover ">
                                <a href="#">Learn More</a>
                            </div>
                            </div>
            
                        </div>
                        </div>
                        <div class="col-lg-4 col-md-6 py-4 px-lg-4">
                        <div class="card rounded-4 text-Quicksand shadow border-0">
                            <img src="../../assets/images/classes5-350x190.jpg" class="card-img-top rounded-top-4" alt="Boy play with toy">
                            <div class="card-body px-4 pt-3 pb-0">
                            <h5 class="card-title  fs-4">
                                <a href="" class="link-primary link-opacity-75-hover text-decoration-none">Drawing &amp; Painting Class</a>
                            </h5>
                            <p class="card-text border-bottom pb-3">
                                Our preschool program has four dedicated classes.
                            </p>
                            </div>
                            <div
                            class="class-details rounded-bottom-4  overflow-hidden py-2 px-4 d-flex justify-content-between position-relative align-items-center">
                            <div class=" text-center ">Age <br /> <span class="color-main">6 years</span></div>
                            <div class=" text-center ">Size <br /> <span class="color-main">15 seats</span></div>
                            <div class=" text-center ">Price <br /> <span class="color-main">$25/hour</span></div>
                            <div class="hover ">
                                <a href="#">Learn More</a>
                            </div>
                            </div>
            
                        </div>
                        </div>
                        <div class="col-lg-4 col-md-6 py-4 px-lg-4">
                        <div class="card rounded-4 text-Quicksand shadow border-0">
                            <img src="../../assets/images/classes6-350x190.jpg" class="card-img-top rounded-top-4" alt="Boy play with toy">
                            <div class="card-body px-4 pt-3 pb-0">
                            <h5 class="card-title  fs-4">
                                <a href="" class="link-primary link-opacity-75-hover text-decoration-none">Music Class</a>
                            </h5>
                            <p class="card-text border-bottom pb-3">
                                Concept of the activity room is about Learning, through play, in a Xylophone
                            </p>
                            </div>
                            <div
                            class="class-details rounded-bottom-4  overflow-hidden py-2 px-4 d-flex justify-content-between position-relative align-items-center">
                            <div class=" text-center ">Age <br /> <span class="color-main">1,5-3years</span></div>
                            <div class=" text-center ">Size <br /> <span class="color-main">12 seats</span></div>
                            <div class=" text-center ">Price <br /> <span class="color-main">$25/hour</span></div>
                            <div class="hover ">
                                <a href="#">Learn More</a>
                            </div>
                            </div>
            
                        </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-Toddler" role="tabpanel" aria-labelledby="nav-Toddler-tab" tabindex="0">
                    <div class="row ">
                        <div class="col-lg-4 col-md-6 py-4 px-lg-4 ">
                            <div class="card rounded-4  text-Quicksand shadow border-0">
                                <img src="../../assets/images/classes1-350x190.jpg" class="card-img-top rounded-top-4" alt="Boy play with toy">
                                <div class="card-body px-4 pt-3 pb-0">
                                <h5 class="card-title  fs-4">
                                    <a href="" class="link-primary link-opacity-75-hover text-decoration-none">Color Matching Class</a>
                                </h5>
                                <p class="card-text border-bottom pb-3">The perfect class for your child with the best staff and best
                                    teachers.</p>
                                </div>
                                <div
                                class="class-details rounded-bottom-4  overflow-hidden py-2 px-4 d-flex justify-content-between position-relative align-items-center">
                                <div class=" text-center ">Age <br /> <span class="color-main">1-2 years</span></div>
                                <div class=" text-center ">Size <br /> <span class="color-main">9 seats</span></div>
                                <div class=" text-center ">Price <br /> <span class="color-main">$25/hour</span></div>
                                <div class="hover ">
                                    <a href="#">Learn More</a>
                                </div>
                                </div>
                
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 py-4 px-lg-4">
                        <div class="card rounded-4 text-Quicksand shadow border-0">
                            <img src="../../assets/images/classes3-350x190.jpg" class="card-img-top rounded-top-4" alt="Boy play with toy">
                            <div class="card-body px-4 pt-3 pb-0">
                            <h5 class="card-title  fs-4">
                                <a href="" class="link-primary link-opacity-75-hover text-decoration-none">Spanish Language Class</a>
                            </h5>
                            <p class="card-text border-bottom pb-3">
                                The students learn different skills like rhythm, flexibility, and coordination.
                            </p>
                            </div>
                            <div
                            class="class-details rounded-bottom-4  overflow-hidden py-2 px-4 d-flex justify-content-between position-relative align-items-center">
                            <div class=" text-center ">Age <br /> <span class="color-main">4-5 years</span></div>
                            <div class=" text-center ">Size <br /> <span class="color-main">14 seats</span></div>
                            <div class=" text-center ">Price <br /> <span class="color-main">$25/hour</span></div>
                            <div class="hover ">
                                <a href="#">Learn More</a>
                            </div>
                            </div>
            
                        </div>
                        </div>
                        
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-Preschool" role="tabpanel" aria-labelledby="nav-Preschool-tab" tabindex="0">
                    <div class="row ">
                        <div class="col-lg-4 col-md-6 py-4 px-lg-4">
                            <div class="card rounded-4 text-Quicksand shadow border-0">
                                <img src="../../assets/images/classes6-350x190.jpg" class="card-img-top rounded-top-4" alt="Boy play with toy">
                                <div class="card-body px-4 pt-3 pb-0">
                                <h5 class="card-title  fs-4">
                                    <a href="" class="link-primary link-opacity-75-hover text-decoration-none">Music Class</a>
                                </h5>
                                <p class="card-text border-bottom pb-3">
                                    Concept of the activity room is about Learning, through play, in a Xylophone
                                </p>
                                </div>
                                <div
                                class="class-details rounded-bottom-4  overflow-hidden py-2 px-4 d-flex justify-content-between position-relative align-items-center">
                                <div class=" text-center ">Age <br /> <span class="color-main">1,5-3years</span></div>
                                <div class=" text-center ">Size <br /> <span class="color-main">12 seats</span></div>
                                <div class=" text-center ">Price <br /> <span class="color-main">$25/hour</span></div>
                                <div class="hover ">
                                    <a href="#">Learn More</a>
                                </div>
                                </div>
                
                            </div>
                            </div> 
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-Kindergarten" role="tabpanel" aria-labelledby="nav-Kindergarten-tab" tabindex="0">
                    <div class="row ">
                        <div class="col-lg-4 col-md-6 py-4 px-lg-4">
                            <div class="card rounded-4 text-Quicksand shadow border-0">
                                <img src="../../assets/images/classes4-350x190.jpg" class="card-img-top rounded-top-4" alt="Boy play with toy">
                                <div class="card-body px-4 pt-3 pb-0">
                                <h5 class="card-title  fs-4">
                                    <a href="" class="link-primary link-opacity-75-hover text-decoration-none">Letter Match Class</a>
                                </h5>
                                <p class="card-text border-bottom pb-3">
                                    Our preschool program has four dedicated classes.
                                </p>
                                </div>
                                <div
                                class="class-details rounded-bottom-4  overflow-hidden py-2 px-4 d-flex justify-content-between position-relative align-items-center">
                                <div class=" text-center ">Age <br /> <span class="color-main">4-5 years</span></div>
                                <div class=" text-center ">Size <br /> <span class="color-main">15 seats</span></div>
                                <div class=" text-center ">Price <br /> <span class="color-main">$25/hour</span></div>
                                <div class="hover ">
                                    <a href="#">Learn More</a>
                                </div>
                                </div>
                
                            </div>
                            </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-PreKProgram" role="tabpanel" aria-labelledby="nav-PreKProgram-tab" tabindex="0">
                    <div class="row ">
                        <div class="col-lg-4 col-md-6 py-4 px-lg-4">
                            <div class="card rounded-4 text-Quicksand shadow border-0">
                                <img src="../../assets/images/classes2-350x190.jpg" class="card-img-top rounded-top-4" alt="Boy play with toy">
                                <div class="card-body px-4 pt-3 pb-0">
                                <h5 class="card-title  fs-4">
                                    <a href="" class="link-primary link-opacity-75-hover text-decoration-none">Alphabet Matching Class</a>
                                </h5>
                                <p class="card-text border-bottom pb-3">
                                    We provided 4 classes with 9 to 12 children earch aged 12 months to 5 .
                                </p>
                                </div>
                                <div
                                class="class-details rounded-bottom-4  overflow-hidden py-2 px-4 d-flex justify-content-between position-relative align-items-center">
                                <div class=" text-center ">Age <br /> <span class="color-main">2-3 years</span></div>
                                <div class=" text-center ">Size <br /> <span class="color-main">11 seats</span></div>
                                <div class=" text-center ">Price <br /> <span class="color-main">$25/hour</span></div>
                                <div class="hover ">
                                    <a href="#">Learn More</a>
                                </div>
                                </div>
                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-BAScool" role="tabpanel" aria-labelledby="nav-BAScool-tab" tabindex="0">
                    <div class="row ">
                        <div class="col-lg-4 col-md-6 py-4 px-lg-4">
                            <div class="card rounded-4 text-Quicksand shadow border-0">
                                <img src="../../assets/images/classes5-350x190.jpg" class="card-img-top rounded-top-4" alt="Boy play with toy">
                                <div class="card-body px-4 pt-3 pb-0">
                                <h5 class="card-title  fs-4">
                                    <a href="" class="link-primary link-opacity-75-hover text-decoration-none">Drawing &amp; Painting Class</a>
                                </h5>
                                <p class="card-text border-bottom pb-3">
                                    Our preschool program has four dedicated classes.
                                </p>
                                </div>
                                <div
                                class="class-details rounded-bottom-4  overflow-hidden py-2 px-4 d-flex justify-content-between position-relative align-items-center">
                                <div class=" text-center ">Age <br /> <span class="color-main">6 years</span></div>
                                <div class=" text-center ">Size <br /> <span class="color-main">15 seats</span></div>
                                <div class=" text-center ">Price <br /> <span class="color-main">$25/hour</span></div>
                                <div class="hover ">
                                    <a href="#">Learn More</a>
                                </div>
                                </div>
                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--------------------------------------- end classes compounant -------------------------->
</main>
        