

.color-main{
  color: #22d836;
}
.text-Quicksand{
font-family: 'Quicksand', sans-serif !important;
}
.text-Patrick{
font-family: 'Patrick Hand', cursive;
}
.bg-mian{
  color: #22d836;
}
body{
  font-family: 'Patrick Hand', cursive;
  /* overflow: hidden; */
}
p{
  font-family: 'Quicksand', sans-serif;
}
.text-Quicksand{
  font-family: 'Quicksand', sans-serif !important;
}
.text-Patrick{
  font-family: 'Patrick Hand', cursive;
}
.bg-main{
    background-color: #22d836 !important;
}
.bg-secondry{
  background-color: rgb(0,126,255) !important;
}

/*************************************************** Header  ************************************** */
.header h1{
    line-height:1.2;
}
.header{
    width: 100%;
    color: #fff !important; 
}
.inner{
width: 100%;
height: 100%;
background-image: url(../../../../assets/images/main_bg.png);
background-position: center center;
background-size: cover;

}

.header img{
width: 100%;
}
.fa-circle{
color: rgb(0,126,255);
border-radius: 50%;
background-color: rgb(0,126,255);
transition: all 1s ;

}

.fa-circle:hover{
color: #22d836;
background-color: #22d836;
transform: scale(1.1,1.1);
}
.fa-play:hover + .fa-circle{
color: #22d836;
background-color: #22d836;
transform: scale(1.1,1.1);
}
.header h1{
font-size: 3.2rem;
}
.headerBtn{
color: #fff !important;
border-radius:12px 30px;

}
.w-65{
    width: 65% ;
}
@media only screen and (max-width: 1200px)  {
    .header h1{
        font-size: 1.8rem;
    }
    .headerBtn{
        width: 75% !important;
    }
}
@media only screen and (max-width: 768px){
    .headerBtn{
        width: 50% !important;
    }
}
/* ////////////////////////////////////////Wave animation */

.path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    padding-bottom:0px ;
    margin-bottom: 0px;
} 
@keyframes pathAnim-0{
    0%{
    d: path("M 0,400 C 0,400 0,200 0,200 C 36.66182029659785,158.6027650744138 73.3236405931957,117.20553014882762 119,140 C 164.6763594068043,162.79446985117238 219.3672579238151,249.78064447910333 265,272 C 310.6327420761849,294.21935552089667 347.20732771154405,251.67189193475903 407,238 C 466.79267228845595,224.32810806524097 549.8034312300086,239.5317877818605 600,222 C 650.1965687699914,204.4682122181395 667.578947368421,154.20095693779902 706,146 C 744.421052631579,137.79904306220098 803.8807792963071,171.66438446694337 859,175 C 914.1192207036929,178.33561553305663 964.8979354463506,151.14150519442754 1013,163 C 1061.1020645536494,174.85849480557246 1106.5274789182902,225.76959475534642 1153,243 C 1199.4725210817098,260.2304052446536 1246.9921488804885,243.78011578418673 1295,231 C 1343.0078511195115,218.21988421581327 1391.5039255597558,209.10994210790665 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    25%{
    d: path("M 0,400 C 0,400 0,200 0,200 C 35.716831002669906,231.62770625710434 71.43366200533981,263.2554125142087 117,258 C 162.5663379946602,252.74458748579133 217.9821829813106,210.60605620026962 277,180 C 336.0178170186894,149.39394379973038 398.63760606941764,130.3203626847128 448,155 C 497.36239393058236,179.6796373152872 533.4673927410189,248.11249306087922 577,265 C 620.5326072589811,281.8875069391208 671.4928229665071,247.2296650717703 718,241 C 764.5071770334929,234.7703349282297 806.5613153929525,256.9688466520395 859,257 C 911.4386846070475,257.0311533479605 974.261915461683,234.8949483200719 1020,211 C 1065.738084538317,187.1050516799281 1094.391022760316,161.45136006767297 1138,162 C 1181.608977239684,162.54863993232703 1240.1739934970526,189.29961140923632 1293,200 C 1345.8260065029474,210.70038859076368 1392.9130032514736,205.35019429538184 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    50%{
    d: path("M 0,400 C 0,400 0,200 0,200 C 31.294152634222428,159.15155039784293 62.588305268444856,118.30310079568585 118,130 C 173.41169473155514,141.69689920431415 252.94093156044306,205.93914721509952 301,220 C 349.05906843955694,234.06085278490048 365.64796848978295,197.94031034391605 410,175 C 454.35203151021705,152.05968965608395 526.4671944804251,142.2996114092363 581,155 C 635.5328055195749,167.7003885907637 672.4832535885167,202.86124401913878 719,238 C 765.5167464114833,273.1387559808612 821.599791165508,308.2554125142086 874,273 C 926.400208834492,237.74458748579136 975.1175817494516,132.11710592402656 1023,128 C 1070.8824182505484,123.88289407597344 1117.9298818366863,221.2761637896852 1158,246 C 1198.0701181633137,270.7238362103148 1231.1628909038038,222.77823891723278 1277,203 C 1322.8371090961962,183.22176108276722 1381.4185545480982,191.6108805413836 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    75%{
    d: path("M 0,400 C 0,400 0,200 0,200 C 43.83739987840018,194.93465330830844 87.67479975680035,189.86930661661685 133,176 C 178.32520024319965,162.13069338338315 225.1382008511988,139.45742684184094 270,159 C 314.8617991488012,178.54257315815906 357.77239683840435,240.3009860160194 409,266 C 460.22760316159565,291.6990139839806 519.7722117951838,281.3386290940813 569,273 C 618.2277882048162,264.6613709059187 657.1387559808611,258.3444976076555 703,234 C 748.8612440191389,209.65550239234452 801.6727642813714,167.28338047529672 861,161 C 920.3272357186286,154.71661952470328 986.170186893653,184.5219804911576 1029,207 C 1071.829813106347,229.4780195088424 1091.6464881440165,244.62869756007294 1133,239 C 1174.3535118559835,233.37130243992706 1237.243860530281,206.96322926855058 1292,197 C 1346.756139469719,187.03677073144942 1393.3780697348595,193.51838536572473 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    100%{
    d: path("M 0,400 C 0,400 0,200 0,200 C 36.66182029659785,158.6027650744138 73.3236405931957,117.20553014882762 119,140 C 164.6763594068043,162.79446985117238 219.3672579238151,249.78064447910333 265,272 C 310.6327420761849,294.21935552089667 347.20732771154405,251.67189193475903 407,238 C 466.79267228845595,224.32810806524097 549.8034312300086,239.5317877818605 600,222 C 650.1965687699914,204.4682122181395 667.578947368421,154.20095693779902 706,146 C 744.421052631579,137.79904306220098 803.8807792963071,171.66438446694337 859,175 C 914.1192207036929,178.33561553305663 964.8979354463506,151.14150519442754 1013,163 C 1061.1020645536494,174.85849480557246 1106.5274789182902,225.76959475534642 1153,243 C 1199.4725210817098,260.2304052446536 1246.9921488804885,243.78011578418673 1295,231 C 1343.0078511195115,218.21988421581327 1391.5039255597558,209.10994210790665 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
}
/* //////////////////////////////////////////// */
@media only screen and (max-width: 768px) {
.header{
    text-align: center;
}
.header h1{
    font-size: 2.5rem !important;

}
.header p{
    font-size: 1.1rem !important;
    
}
.headerBtn{
    font-size: 0.8rem !important;
    width: 40%;
}
.header img{
    width: 90%;
}
}
@media only screen and (max-width: 600px) {
.header h1{
    font-size: 2rem !important;
    width: 70%;
}
.header p{
    font-size: 1rem !important;
    width: 70%;
}
.headerBtn{
    font-size: 0.7rem !important;
    width: 35%;
}
.header img{
    width: 80%;
}
}
/*************************************************** end Header****************************** */
/*************************************************** start main content ********************* */

/*************************************************** start programs part ********************/
.font-lg{
    font-size: 50px !important;
}
.program h3{
    font-size: 1.3rem;
    color: black;
}
.program{
    transition: transform 0.3s;
    font-size: 1rem;
    color: #333333;
}
.icon-brdr{
    border-color: rgb(0,126,255) !important;
    width: 5rem;
    height: 5rem;
    background-color:#fff ;
}
.icon{
    color: rgb(0,126,255) ;
}
.program:hover  .icon-brdr{
    background-color: #22d836;
    border-color: #22d836 !important;
}
.program:hover{
    transform: translateY(-1rem);
}
.program:hover  .icon{
    color: white;
}

/*************************************************** end programs part ************************/
/*************************************************** start core-valuse part *******************/
.CoreValuse h3 {
    font-size: 1.4rem ;
}
.value-explination{
    font-size: 1.1rem;
    color: #333333;
}
.value-explination h3::after{
    content: " ";
    position: absolute;
    width: 50px;
    height: 2px;
    border-radius: 5px;
    background-color: #22d836;
    right: 0;
    bottom: 0;
}
@media only screen and (min-width: 1200px) {
    .w-lg-75{
    width: 75% !important;
    }
}
/*************************************************** end core-valuse part ***********************/
/*************************************************** start Events part **************************/
.events{
    background-color: rgb(0,126,255);
}
.event-img{
    transform: translate(-0.5rem,-0.5rem);
}
.date{
    background-color: #22d836;
}

.event-container-img{
    
    background:rgba(255,255,255,0.25) !important;

}

@media only screen and (max-width:992px) {
    .event-description{
    text-align: center;
    }
}
@media only screen and (max-width:768px) {
    .events .container{
    width: 75% !important;
    }
    .event-container-img{
    width: 65% !important;
    margin: auto !important;
    }
}
/*************************************************** end Events part ****************************/
/*************************************************** start classes part *************************/
.text-decoration{
    text-decoration-line:none
}
.card-line{
    width: 80%;
    height: 1px;
    background-color: #a1a1a1;
    margin: auto;
}
.class-details .hover{
    position: absolute;
    background-color: #22d836;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 0.5s;
    font-weight: 600;
    border-radius: 10px;

}
.class-details .hover a{
    color: white; 
    text-decoration: none;
}
.item:hover .hover{
    transform: translateY(0%);
}
.Classes .card-title a:hover{
    color:#22d836  !important
}
.card-body{
    color: #595959;
}

@media only screen and (max-width:768px) {
    .Classes .card-title{
    font-size: 1rem;
    }
    .Classes .card-body{
    font-size: 0.9rem;
    }
    .Classes .class-details{
    font-size: 0.8rem;
    }
}
@media only screen and (max-width:768px) {
    .Classes .container{
    width: 85%;
    }
}
/*************************************************** end classes part ***************************/
/*************************************************** start kindergarden part*********************/
/* .kind-value{
    width: 90%;
} */
.kindergarden .p{
    color: #595959;
} 
.kind-value div{
    border: 2px solid rgb(0,126,255);
    height: 100px;
    width: 100px;
}
.line-hieght{
    line-height: 1.7rem !important;
}

/*************************************************** end kindergarden  part *********************/
/*************************************************** start our-news  part *********************/
.our-news{
    background-color: rgb(0,126,255);
}
.news-container-img{
    background:rgba(255,255,255,0.25) !important; 

}
.con-news-img{
    transform: translate(-0.5rem,-0.5rem);

}
.news-img{
    transition: transform 0.5s;
}
.news-img:hover{
    transform: scale(1.2,1.2);
}
.news-link{
    text-decoration: none;
    color: #fff;
    
}
.news-link:hover{
    color: rgba(255,255,25,00.5);
}
.w-80{
    width: 80% !important;
}
@media only screen and (max-width:1200px) {
    .our-news .item{
    width: 100% !important;
    }
    .container{
    width: 100% !important;
    }
}
@media only screen and (max-width:768px) {
    .our-news .item{
    width: 75% !important;
    margin: auto !important;
    }
}
/*************************************************** end our-news  part *********************/

/*************************************************** start our-news  part *******************/
.sign-up .container{
    background-color: rgb(0,126,255);
    width: 80%;
}
.inpt{
    border-radius: 12px 0 0 25px;
} 
.inpt:focus{
    border: 0px;
}
.foot-desc{
    font-size: 14px;
}
/*************************************************** end our-news  part *********************/
/*************************************************** end sign up  part **********************/
.SignBtn{
    color: #fff !important;
    border-radius:12px 30px;
    width: 100;
}
/*************************************************** end sign up part ***********************/
h1,h2,h3,h4,h5{
    line-height: 1;
}