/*************************************************** start footer part **********************/
.color-main{
  color: #22d836;
}
.bg-mian{
  color: #22d836;
}
.Q-links-list{
    color :#22d836;
  }
  .Q-links-list span{
    color: black;
  }
  .Q-links-list a{
    text-decoration: none ; 
    color: #333;
  }
  @media only screen and (max-width:992px) {
    
    .footer-icon{
      width: 45% !important;
      
    }
  }
  @media only screen and (max-width:768px) {
    
    .footer-icon{
      width: 35% !important;
      
    }
  }
  /*************************************************** end footer part ************************/