.navbar{
    background: transparent !important;
    transition: all 2s;
  
}
.w-80{
    width: 90% !important;
}
.bg-lightgreen{
background-color: #22d836 !important;
}
.auth a{
    color: #fff !important;
}
.auth i:hover {
    color: rgb(0,126,255) !important;
}
.auth a:hover{
    color: rgb(0,126,255) !important;
}
@media only screen and (max-width: 992px) {
    .auth{
        padding-top: 20px;
        justify-content: start !important;
        flex-direction: column;
        justify-content: end !important;
        height: 40vh;
    }
    .auth a{
        margin-bottom: 10px;
        width: 100%;
        background-color:#d4ffd7;
        color: rgb(0,126,255) !important;
        
    }
    .offcanvas{
        width: 80% !important;
    }
}
.active3{
    color: rgb(0,126,255) !important;;
}